@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Only print the table if we have movies.*@
@if (Model.Any())
{
    @*Creating a table that will hold all the movies from the Controller.*@
    <table class=“table table­‐bordered table­‐hover”>
        <tr>
            @*TR = row in case I forgot.*@
            <th>Movies</th>
            <th>Genre</th>
        </tr>

        <div class="form-group">
            @Html.ActionLink("Add", "New", "Movies", new { @class = "btn btn-primary" })
        </div>

        @{
            int i = 1;
        }

        @*For each movie that we have created in the Movies Controller for index.*@
        @foreach (var movie in Model)
        {
            //displaying each movie to the screen.
            <tr>
                <td>@Html.ActionLink(@movie.Name, "Details", "Movies", new { id = i }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
            i++;
        }

    </table>
}
@*else we have got an empty array so we are going to print a message telling the user the lsit is empty.*@
else
{
    <p>There are currently no movies, come back again!</p>
}

